<section data-search-form class="phpdocumentor-search">
    <div class="phpdocumentor-section">
        <label>
            <input type="search" class="phpdocumentor-field phpdocumentor-search__field" placeholder="Loading .." disabled />
        </label>
    </div>
</section>
