<nav class="phpdocumentor-topnav">
    <div class="site-branding">
        <a class="site-logo" href="{{ path("/index.html") }}">MotoPress Hotel Booking Code Reference</a>
    </div>
    <ul class="phpdocumentor-topnav__menu">
        <li><a href="{{ path('hooks/hooks.html') }}">Hooks Reference</a></li>
        <li><a href="https://motopress.com/documentation/wordpress/plugins/hotel-booking/">Documentation</a></li>
        <li><a href="https://motopress.github.io/hotel-booking-rest-api/">REST API</a></li>
    </ul>
</nav>
